@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		@apply m-0 bg-darkPurple font-ubuntu text-2xl text-white antialiased;
	}
}

@layer components {
	.app {
		@apply mx-auto my-10 max-w-[860px] text-center;
	}

	button {
		@apply cursor-pointer rounded-lg border-2 border-solid border-white bg-none px-3 py-[6px] text-base font-bold;
	}

	button:hover {
		@apply bg-darkPink;
	}

	.card-grid {
		@apply mt-10 grid grid-cols-4 gap-5;
	}

	.card {
		@apply relative;
	}

	.card img {
		@apply block w-full rounded-md border-2 border-solid border-white;
	}

	p {
		@apply m-5;
	}
}

/** front of the card */
.card .front {
	transform: rotateY(90deg);
	transition: all ease-in 0.2s;
	position: absolute;
}

.flipped .front {
	transform: rotateY(0deg);
	transition-delay: 0.2s;
}

/** back of the card */
.card .back {
	transition: all ease-in 0.2s;
	transition-delay: 0.2s;
}

.flipped .back {
	transform: rotateY(90deg);
	transition-delay: 0s;
}
